.movies {
  position: absolute;
  min-height: 90vh;
  height: auto;
  width: 100%;
  padding: 2rem;
  padding-top: 5rem;
  margin-top: 10vh;
  background: var(--secondary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1200px) {
  .movies {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .movies {
    grid-template-columns: 1fr;
  }
}
