:root {
  --primary: #850000;
  --red: #dc0000;
  --secondary: #ffdb89;
  --light: #fff6c3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rowdies", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}
